.echarts {
    width: 100%;
    height: 100%;
}
.dataScreen-container {
    width: 100%;
    height: 100%;
    background-image: url("../../assets/images/dataScreen/bg.png");
    background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: 100% 100%;
	background-size: cover;
    .dataScreen {
        position: fixed;
        top: 50%;
		left: 50%;
        z-index: 999;
        display: flex;
        flex-direction: column;
        transform-origin:left top;
        transition:all 0.3s;
        .headTab {
            height: 10%;
            width: 100%;
            background-image: url('../../assets/images/dataScreen/headBar.png');
            text-align: center;
            p {
                color: #a5ccf2;
                font-size: 35px;
                padding-top: 1%;
            }
        }
        .main-content {
            display: flex;
            justify-content: space-between;
            height: 90%;
            .datascreen-container {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
            }
            .content-left {
                width: 28%;
                position: relative;
                .bar1 {
                    position: relative;
                    height: 33%;
                    width: 100%;
                    .bar1-before{
                        display: block;
                        position: absolute;
                        top: -5px;
                        left: -2px;
                        content: "";
                        width: 111px;
                        height: 35px;
                        background-image: url('../../assets//images/dataScreen/border-radius.png');
                        transform: rotate(180deg);
                        }
                    .bar1-after{
                        display: block;
                        position: absolute;
                        bottom: -5px;
                        right: -2px;
                        content: "";
                        width: 111px;
                        height: 35px;
                        background-image: url('../../assets//images/dataScreen/border-radius.png');
                        }
                    }
                .line2 {
                    position: relative;
                    height: 30%;
                    width: 100%;
                    .line2-before{
                        display: block;
                        position: absolute;
                        top: -5px;
                        left: -2px;
                        content: "";
                        width: 111px;
                        height: 35px;
                        background-image: url('../../assets//images/dataScreen/border-radius.png');
                        transform: rotate(180deg);
                        }
                    .line2-after{
                        display: block;
                        position: absolute;
                        bottom: -5px;
                        right: -2px;
                        content: "";
                        width: 111px;
                        height: 35px;
                        background-image: url('../../assets//images/dataScreen/border-radius.png');
                        }
                   
                }
                .table3 {
                    height: 30%;
                    position: relative;
                    width:100%;
                    .summaryCard {
                        width: 100%;
                        color: #d8dee0;
                        font-size: 18px;
                        font-weight: 600;
                        padding: 20px;
                        .title {
                            display: flex;
                            align-items: center;
                        }
                        .way {
                            width: 20%;
                            display: flex;
                            text-align: center;
                        }
                        .passengerTraffic {
                            width: 35%;
                            display: flex;
                            text-align: center;
                         }
                        .freight {
                            width: 35%;
                            display: flex;
                            text-align: center;
                        }
                        .summary-body {
                            width: 100%;
                            color: #d8dee0;
                            font-size: 16px;
                            font-weight: 600;
                            .eachLine {
                                height: 60px;
                                background-color: #0828454d;
                                border: 1px solid #0e406e;
                                margin-top: 20px;
                                display: flex;
                                align-items: center;
                                justify-content: space-around;
                                .people-num {
                                    color:#08baa1;
                                }
                                .weight-num {
                                    color: #e3e20d;
                                }
                                .imageItem {
                                    width: 25px;
                                    height: 25px;
                                    display: block;
                                    margin-right: 3px;
                                }
                                .item {
                                    background: linear-gradient(to left,#06aae3,#06aae3) left top no-repeat,linear-gradient(to bottom,#06aae3,#06aae3) left top no-repeat,linear-gradient(to left,#06aae3,#06aae3) right top no-repeat,linear-gradient(to bottom,#06aae3,#06aae3) right top no-repeat,linear-gradient(to left,#06aae3,#06aae3) left bottom no-repeat,linear-gradient(to bottom,#06aae3,#06aae3) left bottom no-repeat,linear-gradient(to left,#06aae3,#06aae3) right bottom no-repeat,linear-gradient(to left,#06aae3,#06aae3) right bottom no-repeat;
                                    background-size: 5px 1px,1px 5px,5px 1px,1px 5px,5px 1px,1px 5px,5px 1px,1px 5px;
                                    background-color: #0f365766;
                                    padding: 10px 0;
                                    display: flex;
                                    justify-content: center;
                                }
                            }

                        }

                    }
                }
                .table3:before{
                    display: block;
                    position: absolute;
                    top: -5px;
                    left: -2px;
                    content: "";
                    width: 111px;
                    height: 35px;
                    background-image: url('../../assets//images/dataScreen/border-radius.png');
                    transform: rotate(180deg);
                    }
                .table3:after{
                    display: block;
                    position: absolute;
                    bottom: -5px;
                    right: -2px;
                    content: "";
                    width: 111px;
                    height: 35px;
                    background-image: url('../../assets//images/dataScreen/border-radius.png');
                    }
            }
            .content-middle {
                width: 42%;
                background-color:#a5ccf2;
            }
            .content-right {
                width: 28%;
                background-color:blue;
            }
        }
    }
    

}